:root {
    --form-bg: #164265;
    --button-bg: #32abf2;
    --main-color: #4f637d;
    --heading-color: #134267;
    --form-info-color: #96caf7;
    --form-color: #5d7fa3;
    --link-color: #32abf2;
}
