@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --form-bg: #113a5b;
    --button-bg: #32abf2;
    --gray-color: #4f637d;
    --heading-color: #134267;
    --form-info-color: #96caf7;
    --form-color: #5d7fa3;
    --link-color: #32abf2;
    --font-family: "Inter", sans-serif;
    --card-shadow: 0px 5px 20px 0px #6c758b33;
    --logo-color: #20496c;
    --input-bg: #f8f9fc;
    --input-placeholder-color: #c3cad5;
    --black-color: #030e16;
    --eye-icon-color: #50627d;
    --progress-handle-bg: #134267;
    --progress-handle-active-color: #93a8c1;
}

body {
    font-family: var(--font-family);
}
.placeholder-gray::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

.placeholder-gray::-ms-input-placeholder {
    color: var(--input-placeholder-color);
}
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
